*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
.clearFix::after{
  content: "";
  display: block;
  clear: both;
}
.fll{
  float: left;
}
.flr{
  float: right;
}
ul li{
  list-style: none;
}
a:hover{
  text-decoration: none;
}
